@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(11,20,22);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: #888;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}